$likeBackground: blue;
$size: 1em;


div.likeButton {
	width: $size * 2;
	height: $size * 1.75;
	margin-top: auto;
	display: inline-block;
	position: relative;
	transition-property: transform;
	transition: transform 300ms cubic-bezier(.38,.5,.5,1.5);

	.checkbox_like {
		transform: rotate(45deg);
		position: absolute;
		appearance: none;
		width: 80%;
		height: 80%;
		top: -$size + ($size / 1);
		left: $size - ($size / 1.15);
		border-radius: 50% 0 0 0;
		z-index: 100;
		cursor: pointer;

	}

	.checkbox_like:focus {
		  outline: none;
	}

	.checkbox_like:checked ~ .heart__icon {
		  background: red;
	}

	.like_heart {
		transform: rotate(45deg);
		top: $size - ($size / 1.75);
		left: $size - ($size / 2);
		width: $size;
		height: $size;
		background: pink;
		position: absolute;
		transition: background 125ms;
	}

	.like_heart::before,
	.like_heart::after {
		content: '';
		display: inline;
		background: inherit;
		width: $size;
		height: $size;
		border-radius: 50%;
		position: absolute;
	}

	.like_heart::before {
		  top: 0;
		    left: -50%;
	}

	.like_heart::after {
		  left: 0;
		    top: -50%;
	}

	.checkbox_like:checked ~ .like_heart {
		  background: red;
	}

}

div.likeButton:hover {
	transform: scale(1.2);
}
